<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd" bootstrap="vendor/autoload.php" cacheDirectory=".phpunit.cache" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" defaultTestSuite="unit">
  <testsuites>
    <!-- Default: Pure unit tests, all dependencies mocked -->
    <testsuite name="unit">
      <directory>test/Unit</directory>
    </testsuite>
    <!-- Integration: SQLite (in-memory, always available) -->
    <testsuite name="integration-sqlite">
      <directory>test/Integration/Sqlite</directory>
    </testsuite>
    <!-- Integration: MySQL (requires MySQL/MariaDB server) -->
    <testsuite name="integration-mysql">
      <directory>test/Integration/Mysql</directory>
    </testsuite>
    <!-- Integration: PostgreSQL (requires PostgreSQL server) -->
    <testsuite name="integration-postgres">
      <directory>test/Integration/Postgres</directory>
    </testsuite>
    <!-- Integration: Oracle (requires Oracle server) -->
    <testsuite name="integration-oracle">
      <directory>test/Integration/Oracle</directory>
    </testsuite>
    <!-- Integration: PDO-specific -->
    <testsuite name="integration-pdo">
      <directory>test/Integration/Pdo</directory>
    </testsuite>
    <!-- All integration tests -->
    <testsuite name="integration">
      <directory>test/Integration</directory>
    </testsuite>
    <!-- Legacy tests (not run by default) -->
    <testsuite name="legacy">
      <directory>test/Legacy</directory>
    </testsuite>
  </testsuites>
  <coverage pathCoverage="false" ignoreDeprecatedCodeUnits="true" disableCodeCoverageIgnore="false">
    <report>
      <clover outputFile=".phpunit.cache/clover.xml"/>
      <html outputDirectory=".phpunit.cache/html-coverage" lowUpperBound="50" highLowerBound="90"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">lib</directory>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>lib/Horde/Db.php</file>
      <directory>lib/Horde/Db/Migration</directory>
      <directory>src/Migration</directory>
    </exclude>
  </source>
</phpunit>
